:root{
    --primary-color: rgb(30, 35, 38);
    --primary-transparent-color: rgba(30, 35,38 ,0.8);
    --secondary-color: rgb(37, 42, 46);
    --bacground-filter-color: rgba(30, 35,38 ,0.6);
    --text-color: rgb(250,250,250);
    /*--secondary-color: rgb(0, 0, 39);*/
    --tertiary-color: rgb(150,25,25);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--text-color);
    text-decoration: none;
    
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
}
ul{
    list-style: none;
}
header{
    width: 100vw;
    height: 10vh;
    display: flex;
    position: fixed;
    align-items: center;
    background-color: var(--primary-transparent-color);
}
.contenedor_header{
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar ul{
    display: flex;
    flex-direction: row;
}
#navbar ul li{
    margin-right: 3rem;
}
a:hover{
    color: var(--tertiary-color);
}
#tachar{
    text-decoration: line-through;
}
/*Imagen de fondo*/
.imagen_fondo img{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}
.filtro{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: var(--bacground-filter-color);
}
/*Seccion-Inicio*/
.inicio{
    padding: 10%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor_perfil{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--primary-color);
    
}
#foto_perfil{
    width: 15vw;
    height: 15vw;
    margin: 1rem;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    border-color: var(--tertiary-color);
}
#nombre{
    font-weight: bold;
    font-size: xx-large;
    margin: 1rem;
    text-align: center;
}
.contenedor_redes{
    display: flex;
    margin: 1rem 1rem 3rem 1rem;
}
.contenedor_redes a{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    font-size: 1.5rem;
    text-decoration: none;
}
.contenedor_descripcion{
    width: 48vw;
    font-size: 22px;
    font-family: 'Cutive Mono', monospace;
    line-height: 2rem;
}
/*Seccion-SobreMi*/
.sobreMi{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-color);
}
h2{
    font-size: 42px;
    margin-top: 2rem;
}
.contenedor_sobreMi{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.col-izq{
    margin: 2rem;
    display: flex;
    flex-direction: column;

}
.tarjeta_datos{
    margin-top: 2rem;
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 1rem;
}
h3{
    font-size: 32px;
    margin-bottom: 1.5rem;
}
.tarjeta_datos li{
    margin-top: 1rem;
}
.tarjeta_datos li strong{  
    font-size: 18px;
    color: var(--tertiary-color);
}
.alinear{
    width: 130px;
    display: inline-flex;
}
.tarjeta_datos li p{
    margin-top: 0.5rem;
}
.col-der{
    margin: 2rem;
    display: flex;

}
.contenedor_lenguages{

    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}
.lenguage{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
.lenguage a{
    display: flex;
}
.lenguage i{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
.lenguage:hover{
    background-color: var(--tertiary-color);
    transition: 0.5s;
}
footer{
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}
footer .contenedor_redes{
    margin:0;
}
.arriba{
    width: 3rem;
    height: 3rem;
    position:relative;
    top: -35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: var(--tertiary-color);
}